<div style="margin: auto; width: 60%; padding-top: 2em">
  <h3>Reactive Form</h3>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Project: " formControlName="projectName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email: " formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Proyect Status:" formControlName="status">
        <mat-option *ngFor="let stat of projectStatus" [value]="stat">{{stat}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit">Submit</button>
  </form>
</div>
